<p id="notice"><%= notice %></p>

<h1>Les techniques:</h1>
<p>Pour ajouter une technique, il faut cliquer sur le lien situé dans l'article auquel vous voudriez l'ajouter</p>

<table>
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Contenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= User.find(Article.find(tip.postIt_id).user_id).pseudo %></td>
        <td><%= tip.content %></td>
        <td><%= link_to 'Voir', tip %></td>
        <% if(@cookie == Article.find(tip.postIt_id).user_id) %>
          <td><%= link_to 'Detruire', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
